<div class="row">
    <div class="users col-md-6">
        <div class="lead" ng-bind="vm.title"></div>
		
        <div ng-repeat="user in vm.users" id="{{user.id}}" class="row">
 
			
			<div class="col-sm-12" ng-if="!vm.isadd(user.id)">
			<div class="input-group users">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-bind="user.name"></button>
			</span>
			<input type="text" class="form-control" ng-model="user.bill" readonly>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="vm.onadd(user.id)" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</span>
			</div>
			</div>
			
			<div class="col-sm-12" ng-if="vm.isadd(user.id)">
			<div class="input-group users" ng-class="{'has-error':vm.payment.error}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-bind="user.name"></button>
			</span>
			<input type="text" class="form-control" ng-model="vm.payment.value" >
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="vm.sendpayment(user)" ng-class="{'btn-danger':vm.payment.error}">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" type="button" ng-click="vm.cancel()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</span>
			</div>
			</div>
			
			
			

        </div>
    </div>
	
        
    <div class="col-md-6" ng-controller="ChoiceAdmin">
        <div class="lead" ng-bind="title"></div>
        <div class="panel panel-default" ng-repeat="day in weekdays" ng-class="{'panel-success':stat.select==$index}"  ng-if="day.total>0">
        <div class="panel-heading">
            <a href="" ng-click="stat.select=$index">{{day.date|date:'dd.MM.yyyy'}} {{day.date|date:'(EEEE)'}}</a>
        </div>
        <ul class="list-group" ng-show="stat.select==$index">
            <li ng-repeat="select in day.userselect track by $index" class="list-group-item">
                {{$parent.getUser(select).name}} - {{$parent.getMenu(select).name}} ({{$parent.getMenu(select).price}}) 
				<button class="btn btn-sm" 
					ng-class="{'btn-success':select.confirm, 'btn-default':!select.confirm}" 
					ng-click="confirmSelect(select)" 
					ng-disabled="select.confirm">{{select.confirm?"получено":"выдать"}}</button>
            </li>
            <li class="list-group-item"><b>Итого по меню</b></li>
            <li ng-repeat="menu in day.menu" class="list-group-item" ng-if="menu.count>0">
                {{menu.name}} - {{menu.count}} на сумму {{menu.price * menu.count}}
            </li>
        </ul>
        </div>
    </div>
</div>