<div class="row">
    <div class="users col-md-6" ng-controller="UserCtrl" ng-init="Users()">
        <div class="lead" ng-bind="title"></div>
		
        <div ng-repeat="user in users" id="{{user.id}}" class="row">
 
			
			<div class="col-sm-12" ng-if="!chkadd(user.id)">
			<div class="input-group users">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-bind="user.name"></button>
			</span>
			<input type="text" class="form-control" ng-model="user.bill" readonly>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="onadd(user.id)" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</span>
			</div>
			</div>
			
			<div class="col-sm-12" ng-if="chkadd(user.id)">
			<div class="input-group users" ng-class="{'has-error':addbill.error}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-bind="user.name"></button>
			</span>
			<input type="text" class="form-control" ng-model="addbill.value" >
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="sendbill(user)" ng-class="{'btn-danger':addbill.error}">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" type="button" ng-click="offadd()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</span>
			</div>
			</div>
			
			
			

        </div>
    </div>
	
	

	
	
    <div class="col-md-6" ng-init="accordion=1">
        <h3 class="accordion" ng-class="{active:accordion==1}">
            <a href="" ng-click="accordion = 1">Section 1</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==1">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>

        <h3 class="accordion" ng-class="{active:accordion==2}">
            <a href="" ng-click="accordion = 2">Section 2</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>

        <h3 class="accordion" ng-class="{active:accordion==3}">
            <a href="" ng-click="accordion = 3">Section 3</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
    </div>
</div>