 <div class="modal fade" tabindex="-1" role="dialog" ng-attr-id="{{id}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div star-rating class="pull-right"
                 ng-model="item.ratings[1].rate" 
                 avg-rating="item.ratings[0].rate" 
                 on-rating-select="setRating(item.ratings[1])" 
                 readonly="readonly">
            </div>
            <h4 class="modal-title" ng-bind="item.name">Comments</h4>
          </div>
          <div class="modal-body">
            <p>{{item.name}}, {{item.weight}} g.</p>
            <p>{{item.parts}}</p>
            <ul class="list-group comments">
              <li class="list-group-item" ng-repeat="comment in comments">
                    <div class="clearfix">
                                <div>
                                    <strong class="primary-font" ng-bind="comment.userName">Username</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-calendar"></span>{{comment.date|date:'dd.MM.yy'}}</small>
                                </div>
                                <p>
                                    {{comment.text}}
                                </p>
                    </div>
              </li>
            </ul>
            <form ng-if="!readonly">
              <div class="form-group">
                <label for="comment">You comment</label>
                <input type="text" class="form-control" id="comment" placeholder="comment" ng-model="form.text">
              </div>
              <button type="submit" class="btn btn-default" ng-click="sendComment()">Send</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="refreshComments()">Refresh</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->