<div class="row" ng-controller="ViewMenu as vm">
    <div class="col-sm-12">
        <parse-form control="form.parse"></parse-form>
    </div>

    <div class="col-sm-6 lead" ng-bind="vm.title"></div>

    <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-default" ng-click="form.parse.show()">Parse Menu</button>
        <button type="button" class="btn btn-default" ng-click="form.add()">Add menu</button>
        <button type="button" class="btn" ng-class="{'btn-success': vm.components, 'btn-default': !vm.components}" ng-click="vm.components=!vm.components">Components</button>
        <button type="button" class="btn" ng-class="{'btn-success': vm.tomorrow, 'btn-default': !vm.tomorrow}" ng-click="vm.tomorrow=!vm.tomorrow">Tomorrow Only</button>
    </div>

    <div class="col-sm-offset-2 col-sm-8 clearfix" ng-if="form.isedit">
        <menu-form menu="form.menu" title="form.title" save="form.save()" cancel="form.cancel()"></menu-form>
    </div>
    
    <div class="clearfix"></div>
    <div ng-repeat="menu in vm.data.menu" class="col-sm-4" ng-if="vm.isshow(menu)" ng-class="{clearfix:$index % 3 == 0}">
        <div class="panel" ng-class="{'panel-primary': vm.isold(menu.onDate),'panel-default': !vm.isold(menu.onDate)}">

            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs" type="button" ng-click="form.edit(menu)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-xs" type="button" ng-click="form.delete(menu)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </div>
                {{menu.name}} {{menu.onDate|date:'dd.MM.yyyy'}}
            </div>

            <div class="panel-body">
                Цена: {{menu.price}} руб.<br />
                Заказно: шт.<br />
                Итого: руб.<br />
            </div>

            <ul class="list-group" ng-if="vm.components">
                <li class="list-group-item" ng-repeat="item in menu.items"><span class="badge">{{item.weight}}</span>{{item.name}}</li>
            </ul>

        </div>
    </div>


</div>
