<div class="row" ng-controller="ViewMenu as vm">
    <div class="col-sm-12">
        <parse-form control="form.parse" on-compleat="form.updateMenu()"></parse-form>
    </div>
    <div class="col-sm-12">
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="form.parse.show()">Parse Menu</button>
            <button type="button" class="btn btn-default" ng-click="form.add()">Add menu</button>
            <button type="button" class="btn" ng-class="{'btn-success': vm.components, 'btn-default': !vm.components}" ng-click="vm.components=!vm.components">Components</button>
            <button type="button" class="btn" ng-class="{'btn-success': vm.tomorrow, 'btn-default': !vm.tomorrow}" ng-click="vm.tomorrow=!vm.tomorrow">Tomorrow Only</button>
        </div>
        <ul class="nav nav-tabs">
            <li ng-class="{active:form.isTab('week')}"><a href="" ng-click="form.setTab('week')">Week Menu</a></li>
            <li ng-class="{active:form.isTab('all')}"><a href="" ng-click="form.setTab('all')">All Menus</a></li>
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-8 clearfix spacer" ng-if="form.isedit">
        <menu-form menu="form.menu" title="form.title" save="form.save()" cancel="form.cancel()"></menu-form>
    </div>
    
    <div class="clearfix spacer"></div>
    <div ng-if="form.isTab('week')">
        <div ng-repeat="menu in vm.data.menu">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4" ng-if="vm.isshow(menu)">
                <div class="panel" ng-class="{'panel-primary': vm.isold(menu.onDate),'panel-default': !vm.isold(menu.onDate)}">

                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-xs" type="button" ng-click="form.edit(menu)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                            <button class="btn btn-default btn-xs" type="button" ng-click="form.delete(menu)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                        {{menu.name}} {{menu.onDate|date:'yyyy-MM-dd'}}
                    </div>

                    <div class="panel-body">
                        Цена: {{menu.price}} руб.<br />
                    </div>

                    <ul class="list-group" ng-if="vm.components">
                        <li class="list-group-item" ng-repeat="item in menu.items"><span class="badge">{{item.weight}}</span>{{item.name}}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div ng-if="form.isTab('all')" class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>On Date</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Items</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="menu in form.allMenus">
                        <th>{{menu.id}}</th>
                        <td>{{menu.onDate|date:'yyyy-MM-dd'}}</td>    
                        <td>{{menu.name}}</td>
                        <td>{{menu.price}}</td>
                        <td>{{menu.items.length}}</td>
                        <td>
                            <div class="btn-group btn-group-sm pull-right">
                                <button class="btn btn-default" type="button" ng-click="form.edit(menu)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default" type="button" ng-click="form.delete(menu)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </div>
                        </td>
                    </tr>
                </table>
                <uib-pagination total-items="form.menusPages.totalItems" ng-model="form.menusPages.currentPage" max-size="10" class="pagination-sm no-margin" boundary-link-numbers="true" ng-change="form.menusChanged()" items-per-page="form.menusPages.perPage"></uib-pagination>
            </div>
        </div>
    </div>
</div>
