<div class="row">
    <div class="flip-container text-center col-md-12" ng-init="init()">
	
        <div class="back" ng-class="{flip: sendData, correct: correctData, incorrect:!correctData}">
            <p class="lead" ng-bind="answer()"></p>
            <p>
                <button class="btn btn-info option" ng-click="loadUser()" ng-disabled="working">Edit Week Menu</button>
            </p>
        </div>
		
        <div class="front row" ng-class="{flip: sendData}">
			
			<div class="col-md-12 text-center" ng-if="error">
				<div role="alert" class="alert" ng-class="{'alert-info':error && working, 'alert-danger':error && !working}" ng-bind="status"></div>
            </div>
			
            <div class="col-md-12 text-center" ng-if="!error">
                <p class="lead" >Select Menu on Day</p>
            </div>
			
			<div class="col-md-12 text-center">
				<table class="table grid selectday" id="grid">
					<thead>
					<tr>
					<th ng-repeat="day in weekdays"  class="text-center">                 
						<label>{{day.date|date:'dd.MM.yyyy'}}<br />{{day.date|date:'(EEEE)'}}</label>
					</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td ng-repeat="day in weekdays">
							<fieldset ng-disabled="!checkdate(day.date)">
								<div class="btn-group-vertical" data-toggle="buttons">
									<label class="btn btn-default" 
										ng-repeat="menu in day.menu"
										ng-click="setDaySelect(day, menu)"
										ng-class="{active: day.select.id == menu.id, 'btn-info': day.select.id == menu.id}">
										<input type="radio" name="choice" id="{{menu.id}}" autocomplete="off" />{{menu.name}}
									</label>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr >
						<td ng-repeat="day in weekdays">
							<dl>
								<dt class="text-center">{{day.select.name}}</dd>
								<dd ng-repeat="item in day.select.items">
								{{$index+1}}. {{item.name}}
								</dd>
								<dt ng-if="day.select.price>0" class="text-center">{{day.select.price}}</dt>
							</ul>
						</td>
					</tr>
					</tbody>
				</table>	
				<button class="btn btn-info" ng-click="sendUserDays(days)" ng-disabled="working" ng-if="!error">Confirm</button>
			</div>		
			
        </div>
    </div>
</div>

<div class="row" ng-if="!error">
    <div class="col-md-10 lead text-left">Week Menu</div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn" ng-class="{'btn-success': tomorrow, 'btn-default': !tomorrow}" ng-click="tomorrow=!tomorrow">
            Tomorrow Only 
        </button>
    </div>

    <div ng-repeat="menu in weekmenu" >
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-md-3" ng-if="!tomorrow||checkdate(menu.onDate)">
            <div class="panel" ng-class="{'panel-primary': checkdate(menu.onDate),'panel-default': !checkdate(menu.onDate)}">

                <div class="panel-heading">{{menu.name}} на {{menu.onDate|date:'dd.MM.yyyy'}}</div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in menu.items"><span class="badge">{{item.weight}}</span>{{item.name}}</li>
                </ul>

                <div class="panel-footer price">Цена: {{menu.price}} руб.</div>
            </div>
        </div>
    </div>

</div>