<div>
<div class="modal fade" ng-attr-id="{{login.id}}" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="loginForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Close' | translate}}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" translate="{{login.form.title}}"></h4>
                </div>
                <div class="modal-body row">
                
                <div class="col-sm-6">   
                    <div class="alert alert-danger" role="alert" translate="{{login.form.msg|translate}}" ng-if="login.form.error"></div>
                    
                    <div class="form-group" ng-class="{'has-error':login.form.errors.userName}" ng-if="!login.form.registred">
                        <label class="control-label" translate>UserName</label>
                        <input type="text" class="form-control" id="userName" placeholder="UserName" name="userName" ng-model="login.form.username">
                        <p class="text-danger" ng-repeat="error in login.form.errors.userName" translate="{{error}}"></p>
                    </div>

                    <div class="form-group" ng-class="{'has-error':loginForm.$error.email, 'has-error':login.form.errors.email}">
                        <label class="control-label" for="loginEmail" translate>Email</label>
                        <input type="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="login.form.email" value="">
                        <p class="text-danger" ng-repeat="error in login.form.errors.email" translate="{{error}}"></p>
                    </div>
                    
                    <div class="form-group" ng-class="{'has-error':login.form.errors.password}">
                        <label class="control-label" for="loginPassword" translate>Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="login.form.password">
                        <p class="text-danger" ng-repeat="error in login.form.errors.password" translate="{{error}}"></p>
                    </div>

                    <div class="form-group" ng-if="!login.form.registred" ng-class="{'has-error':login.form.errors.confirmPassword}">
                        <label class="control-label" for="loginConfirmPassword" translate>ConfirmPassword</label>
                        <input type="password" class="form-control" id="loginConfirmPassword" placeholder="Confirm Password" ng-model="login.form.confirmPassword">
                        <p class="text-danger" ng-repeat="error in login.form.errors.confirmPassword" translate="{{error}}"></p>
                    </div>

                    <a href="" ng-if="login.form.registred" ng-click="login.register()" translate>Registration</a>
                </div>
                <div class="col-sm-6">   
                        <a class="btn btn-block btn-social btn-microsoft" ng-click="login.externalLogin('ntlm')">
                            <span class="fa fa-windows"></span> {{'Domain'|translate}}
                        </a>
                        <a class="btn btn-block btn-social btn-facebook" ng-click="login.externalLogin('Facebook')">
                            <span class="fa fa-facebook"></span> {{'Facebook'|translate}}
                        </a>
                        <a class="btn btn-block btn-social btn-google" ng-click="login.externalLogin('Google')">
                            <span class="fa fa-google"></span> {{'Google'|translate}}
                        </a>
                        
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
                    <button type="submit" class="btn btn-primary" translate="{{login.form.btnText|translate}}" ng-click="login.doLogin()"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>