<div class="panel panel-default">
    <div class="panel-heading" translate-namespace="menuform"><strong translate=".{{title}}"></strong></div>
    <div class="panel-body" translate-namespace="menuform">


        <form name="menuForm">
            <div class="form-group">
                <label for="menuName" translate>.Name</label>
                <input type="text" class="form-control" id="menuName" placeholder="{{'menuform.MenuName' | translate}}" ng-model="menu.name">
            </div>
            <div class="form-group">
                <label for="menuPrice" translate>.Price</label>
                <input type="text" class="form-control" id="menuPrice" placeholder="00 000" ng-model="menu.price">
            </div>
            <div class="form-group">
                <label for="ondatePrice" translate>.OnDate</label>
                <input type="date" class="form-control" id="menuPrice" placeholder="2016-01-31" ng-model="menu.onDate">
            </div>
            <div class="form-group">
                <label translate>.Components</label>
                <div class="input-group many-input-group" for="menuItems">
                    <input type="text" class="form-control" placeholder="{{'menuform.Name' | translate}}" id="itemName" aria-describedby="itemName" ng-model="menuitem.name">
                    <span class="input-group-btn"></span>
                    <input type="text" class="form-control" placeholder="{{'menuform.Parts' | translate}}" id="itemParts" aria-describedby="itemParts" ng-model="menuitem.parts">
                    <span class="input-group-btn"></span>
                    <input type="text" class="form-control" placeholder="{{'menuform.Weight' | translate}}" aria-describedby="itemDesc" ng-model="menuitem.weight">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addItem(menuitem)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <table class="table grid" id="grid">
                    <thead>
                        <tr>
                            <th translate>.Name</th>
                            <th translate>.Parts</th>
                            <th translate>.Weight</thtranslate>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in menu.items">
                            <td ng-if="!edited(item)">
                                {{item.name}}
                            </td>
                            <td ng-if="!edited(item)">
                                {{item.parts}}
                            </td>
                            <td ng-if="!edited(item)">
                                {{item.weight}}
                            </td>
                            <td ng-if="edited(item)" colspan="4">
                                <div class="input-group many-input-group" for="menuItems">
                                    <input type="text" class="form-control" id="edititemName" aria-describedby="itemName" ng-model="editeditem.name">
                                    <span class="input-group-btn"></span>
                                    <input type="text" class="form-control" id="edititemParts" aria-describedby="itemParts" ng-model="editeditem.parts">
                                    <span class="input-group-btn"></span>
                                    <input type="text" class="form-control" id="edititemWeight" ng-model="editeditem.weight">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="saveItem()" ng-if="edited(item)">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="cancelItem()" ng-if="edited(item)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td width="1%" ng-if="!edited(item)">
                                <div class="btn-group text-right" role="group">
                                    <button type="button" class="btn btn-default" ng-click="editItem(item)">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="deleteItem(item)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <button type="submit" class="btn btn-default" ng-click="save()" translate>Submit</button>
            <button type="submit" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        </form>

    </div>
</div>
