<div class="row">
    <div class="col-sm-12"><div class="lead" ng-bind="vm.title"></div></div>
    <div class="col-sm-9">
        <div class="col-sm-12">
            <ul class="nav nav-tabs ">
                <li ng-class="{active:vm.isTab('week')}"><a href="" ng-click="vm.setTab('week')">Week orders</a></li>
                <li ng-class="{active:vm.isTab('all')}"><a href="" ng-click="vm.setTab('all')">All orders</a></li>
            </ul>
        </div>
        <div ng-if="vm.isTab('week')" class="col-sm-12 spacer">
            <div class="panel panel-default" ng-repeat="day in vm.weekdays" ng-class="{'panel-success':vm.activeday==$index}" ng-if="day.total>0">
                <div class="panel-heading">
                    <a href="" ng-click="vm.activeday=$index">{{day.date|date:'yyyy-MM-dd'}} {{day.date|date:'(EEEE)'}}</a>
                </div>
                <ul class="list-group" ng-show="vm.activeday==$index">
                    <li ng-repeat="select in day.userselect track by $index" class="list-group-item clearfix">
                        <div class="btn-group pull-right">
                            <button class="btn btn-sm btn-default"
                                    ng-click="vm.confirmSelect(select)"
                                    ng-disabled="select.confirm">
                                {{select.confirm?"Получено":"Выдать"}}
                            </button>
                            <button class="btn btn-sm btn-warning"
                                    ng-if="select.confirm"
                                    ng-click="vm.confirmSelect(select)">
                                Отменить
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    ng-click="vm.deleteSelect(day.userselect, $index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <div>{{vm.getUser(select).userName}} - {{select.menu.name}} ({{select.menu.price}})</div>
</li>
                    <li class="list-group-item clearfix">
                        <button class="btn btn-sm pull-right"
                                ng-class="{'btn-success':vm.isConfirmed(day), 'btn-default':!vm.isConfirmed(day)}"
                                ng-click="vm.confirmDay(day)"
                                ng-disabled="vm.isConfirmed(day)">
                            {{vm.isConfirmed(day)?"Роздано":"Выдать всем"}}
                        </button>           
                        <div><strong>Итого по меню</strong></div>
                            
                        
                        
                    </li>
                    <li ng-repeat="menu in day.menu track by $index" class="list-group-item" ng-if="menu.count>0">
                        {{menu.menu.name}} - {{menu.count}} на сумму {{menu.menu.price * menu.count}}
                    </li>
                </ul>
            </div>
        </div>
        
        <div ng-if="vm.isTab('all')" class="col-sm-12 spacer">
            <table class="table table-striped set-bg">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>UserName</th>
                        <th>Menu</th>
                        <th>Price</th>
                        <th>Recived</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in vm.orders">
                        <th>{{order.id}}</th>
                        <td>{{order.date|date:'yyyy-MM-dd'}}</td>
                        <td>{{vm.getUser(order).userName}}</td>
                        <td>{{order.menu.name}}</td>
                        <td>{{order.menu.price}}</td>
                        <td><i class="glyphicon glyphicon-ok" ng-if="order.confirm"></i></td>
                    </tr>
                </tbody>
            </table>
            
            <uib-pagination total-items="vm.pages.totalItems" ng-model="vm.pages.currentPage" max-size="10" class="pagination-sm no-margin" boundary-link-numbers="true" ng-change="vm.pageChanged()" items-per-page="vm.pages.perPage"></uib-pagination>

        </div>
    </div>
</div>