<div class="row" ng-if="!uc.readonly">
    <div class="col-sm-12 text-center" ng-if="uc.error">
        <div role="alert" class="alert" ng-class="{'alert-info':uc.error && uc.working, 'alert-danger':uc.error && !uc.working}" ng-bind="uc.status"></div>
    </div>

    <div class="col-sm-1" ng-repeat="i in uc.weekOffset() track by $index">&nbsp;</div>
    
    <div ng-repeat="day in uc.weekdays" class="col-sm-2" ng-class="{'col-sm-offset-5':uc.numweekdays == 7 && $index == 6 }">
        <p class="text-center"><strong>{{day.date|amDateFormat:'L'}}<br />({{day.date|date:'EEEE'|translate}})</strong></p>
        <div class="text-center">
            <fieldset ng-disabled="uc.isDisable(day)">
                <div class="btn-group-vertical">
                    <button type="button" 
                            ng-repeat="menu in day.menu"
                            ng-click="uc.setUserOrder(day, menu)"
                            class="btn btn-default" 
                            ng-class="{active: day.userday.menuId == menu.id, 'btn-info': day.userday.menuId == menu.id}">
                            {{menu.name}}
                    </button>
                </div>
            </fieldset>
        </div>
        <dl>
            <dt class="text-center">{{day.userday.menu.name}}</dt>
            <dd ng-repeat="item in day.userday.menu.items">
                {{$index+1}}. {{item.name}}
            </dd>
            <dt ng-if="day.userday.menu.price>0" class="text-center">{{day.userday.menu.price}}</dt>
        </dl>
    </div>
</div>

<div class="row" ng-controller="ViewMenu as vm">
    <div class="col-md-10 lead text-left" translate="{{vm.title}}"></div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn" ng-class="{'btn-success': vm.tomorrow, 'btn-default': !vm.tomorrow}" ng-click="vm.tomorrow=!vm.tomorrow" translate="Tomorrow">
        </button>
    </div>
    <div ng-repeat="menu in vm.data.menu" >
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-md-3" ng-if="vm.isshow(menu)">
            <div class="panel" ng-class="{'panel-primary': vm.isold(menu.onDate),'panel-default': !vm.isold(menu.onDate)}">

                <div class="panel-heading">{{menu.name}} {{'on'|translate}} {{menu.onDate|amDateFormat:'L'}}</div>

                <ul class="list-group">
                    <li class="list-group-item usermenu"  ng-repeat="item in menu.items">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" type="button" ng-click="vm.comments.show(item)"><span class="fa fa-comments-o" aria-hidden="true"></span></button>
                        </div>
                        {{item.name}}&nbsp;<sup>{{item.weight}}</sup>
                        <div>
                         
                            <div star-rating 
                             ng-model="item.ratings[1].rate" 
                             avg-rating="item.ratings[0].rate" 
                             on-rating-select="vm.setRating(item.ratings[1])" 
                             readonly="uc.readonly"></div>
                        </div>
                    </li>
                </ul>

                <div class="panel-footer price">
                    <div translate="MenuPrice" translate-value-price="{{menu.price}}"></div>
                    <div star-rating avg-rating="vm.getMenuRating(menu)" readonly="true"></div>
                </div>
            </div>
        </div>
    </div>
    <comments-form control="vm.comments" readonly="uc.readonly" set-rating="vm.setRating(vm.comments.rating)"></comments-form>
</div>