<div class="row" ng-if="!uc.readonly">
    <div class="flip-container text-center col-md-12" >
	
        <div class="back" ng-class="{flip: uc.sendData, correct: uc.correctData, incorrect:!uc.correctData}">
            <p class="lead" ng-bind="uc.answer()"></p>
            <p>
                <button class="btn btn-info option" ng-click="uc.init()" ng-disabled="uc.working">Edit Week Menu</button>
            </p>
        </div>
		
        <div class="front row" ng-class="{flip: uc.sendData}">
			
			<div class="col-md-12 text-center" ng-if="uc.error">
				<div role="alert" class="alert" ng-class="{'alert-info':uc.error && uc.working, 'alert-danger':uc.error && !uc.working}" ng-bind="uc.status"></div>
            </div>
			
            <div class="col-md-12 text-center" ng-if="!uc.error">
                <p class="lead" >Select Menu on Day</p>
            </div>
			
			<div class="col-md-12 text-center" ng-if="!uc.error">
				<table class="table grid selectday" id="grid">
					<thead>
					<tr>
					<th ng-repeat="day in uc.weekdays"  class="text-center">                 
						<label>{{day.date|date:'dd.MM.yyyy'}}<br />{{day.date|date:'(EEEE)'}}</label>
					</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td ng-repeat="day in uc.weekdays">
							<fieldset ng-disabled="uc.isDisable(day)">
								<div class="btn-group-vertical" data-toggle="buttons">
									<label class="btn btn-default" 
										ng-repeat="menu in day.menu"
										ng-click="uc.setDaySelect(day, menu)"
										ng-class="{active: day.select.id == menu.id, 'btn-info': day.select.id == menu.id}">
										<input type="radio" name="choice" id="{{menu.id}}" autocomplete="off" />{{menu.name}}
									</label>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr >
						<td ng-repeat="day in uc.weekdays">
							<dl>
								<dt class="text-center">{{day.select.name}}</dd>
								<dd ng-repeat="item in day.select.items">
								{{$index+1}}. {{item.name}}
								</dd>
								<dt ng-if="day.select.price>0" class="text-center">{{day.select.price}}</dt>
							</ul>
						</td>
					</tr>
					</tbody>
				</table>	
				<button class="btn btn-info" ng-click="uc.sendUserChoice(days)" ng-disabled="uc.working" ng-if="!uc.error">Confirm</button>
			</div>		
			
        </div>
    </div>
</div>

<div class="row" ng-controller="ViewMenu as vm">
    <div class="col-md-10 lead text-left" ng-bind="vm.title"></div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn" ng-class="{'btn-success': vm.tomorrow, 'btn-default': !vm.tomorrow}" ng-click="vm.tomorrow=!vm.tomorrow">
            Tomorrow Only 
        </button>
    </div>

    <div ng-repeat="menu in vm.weekmenu" >
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-md-3" ng-if="vm.isshow(menu)">
            <div class="panel" ng-class="{'panel-primary': vm.isold(menu.onDate),'panel-default': !vm.isold(menu.onDate)}">

                <div class="panel-heading">{{menu.name}} на {{menu.onDate|date:'dd.MM.yyyy'}}</div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in menu.items"><span class="badge">{{item.weight}}</span>{{item.name}}</li>
                </ul>

                <div class="panel-footer price">Цена: {{menu.price}} руб.</div>
            </div>
        </div>
    </div>

</div>