<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <base href="http://localhost:3000/static.html"> -->
    <title></title>
    <link href="./Content/bootstrap.css" rel="stylesheet"/>
    <link href="./Content/font-awesome.css" rel="stylesheet"/>
    <link href="./Content/bootstrap-social.css" rel="stylesheet"/>
	<link href="./Content/site.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" ng-controller="TopMenu as topmenu">
        <div class="container">
             <div class="navbar-header">
                <a class="pull-left logo" href="#/">
                    <img src="./Content/food.png" width="45" height="45" />
                </a>
                <a class="navbar-brand" href="#/">FoodApp</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-repeat="item in topmenu.menu" ng-class="{ active: topmenu.isActive(item.url)}"><a href="#{{item.url}}" ng-bind="item.name"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ng-cloak" ng-if="topmenu.auth.isLogged">
                <li ng-class="{ active: topmenu.isActive('/user')}" >
                    <a href="#/profile" ng-bind="topmenu.auth.username">User</a>
                </li>
                <li><a href="" ng-click="topmenu.logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ng-cloak" ng-if="!topmenu.auth.isLogged">
                <li><a href="" ng-click="topmenu.showLogin()">Login</a></li>
                <li><a href="" ng-click="topmenu.showRegister()">Registration</a></li>
            </ul>
        </div>
    </nav>
	
    <div class="container" ng-view></div>
    
    <!-- Modal -->
    <login-form></login-form>    

    <!-- Modal -->
    <!-- TODO: Move to directive with checking site avaiblity -->
    <div class="modal fade" tabindex="-1" role="dialog" id="offlineMessage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-danger">Service is offline, try again leter ...</h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script src="./Scripts/jquery-1.10.2.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Scripts/angular-mocks.js"></script>
<script src="./Scripts/angular-resource.js"></script>
<script src="./Scripts/angular-route.js"></script>
<script src="./Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="./Scripts/bootstrap.js"></script>
<script src="./app/admin.module.js"></script>
<script src="./app/app.js"></script>
<script src="./app/menu.module.js"></script>
<script src="./app/statistic.module.js"></script>
<script src="./app/user.module.js"></script>
<script src="./app/userservice.module.js"></script>
<script src="./app/controllers/editmenu.js"></script>
<script src="./app/controllers/ordersadmin.js"></script>
<script src="./app/controllers/statistic.js"></script>
<script src="./app/controllers/topmenu.js"></script>
<script src="./app/controllers/useradmin.js"></script>
<script src="./app/controllers/userchoice.js"></script>
<script src="./app/controllers/userprofile.js"></script>
<script src="./app/controllers/viewmenu.js"></script>
<script src="./app/directives/changepassword.js"></script>
<script src="./app/directives/commentsform.js"></script>
<script src="./app/directives/loginform.js"></script>
<script src="./app/directives/menuform.js"></script>
<script src="./app/directives/parseform.js"></script>
<script src="./app/directives/starrating.js"></script>
<script src="./app/services/apiinterceptor.js"></script>
<script src="./app/services/authservice.js"></script>
<script src="./app/services/config.js"></script>
<script src="./app/services/dateservice.js"></script>
<script src="./app/services/menuservice.js"></script>
<script src="./app/services/paginationservice.js"></script>
<script src="./app/services/statisticservice.js"></script>
<script src="./app/services/userservice.js"></script>


</body>
</html>
