<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <base href="http://localhost:3000/static.html"> -->
    <title></title>
    <link href="./Content/bootstrap.css" rel="stylesheet"/>
	<link href="./Content/site.css" rel="stylesheet"/>
</head>
<body>
    <data ng-init="setAPI('http://mezfiles.appspot.com/')"/>
    <nav class="navbar navbar-default navbar-static-top" ng-controller="TopMenu as topmenu">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FoodApp</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{ active: topmenu.isActive('/')}"><a href="#/">Home</a></li>
                <li ng-class="{ active: topmenu.isActive('/admin')}"><a href="#/admin">Admin</a></li>
                <li ng-class="{ active: topmenu.isActive('/menu')}"><a href="#/menu">Menu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" target="_self">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="user in topmenu.users"><a href="" ng-click="topmenu.selectUser(user)">{{user.name}}</a></li>
                    </ul>
                </li>  
            </ul>
        </div>
    </nav>
	
    <div class="container" ng-view>
        
    </div>
    
    

    <script src="./scripts/jquery-1.10.2.js"></script>

    <script src="./scripts/angular.js"></script>
    <script src="./scripts/angular-mocks.js"></script>
    <script src="./scripts/angular-route.js"></script>
    <script src="./scripts/angular-resource.js"></script>
    <script src="./scripts/bootstrap.js"></script>

    <script src="./app/app.js"></script>
    <script src="./app/controllers/topmenu.js"></script>
    
    <script src="./app/admin.module.js"></script>
    <script src="./app/controllers/useradmin.js"></script>
    <script src="./app/controllers/userchoice.js"></script>
    
    <script src="./app/controllers/menu.js"></script>
    <script src="./app/controllers/user.js"></script>
    
    <script src="./app/services/menuservice.js"></script>
    
    <script src="./app/userservice.module.js"></script>
    <script src="./app/services/userservice.js"></script>

    


</body>
</html>
