<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <base href="http://localhost:3000/static.html"> -->
    <title></title>
    <link href="./Content/bootstrap.css" rel="stylesheet"/>
    <link href="./Content/font-awesome.css" rel="stylesheet"/>
    <link href="./Content/bootstrap-social.css" rel="stylesheet"/>
	<link href="./Content/site.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" ng-controller="TopMenu as topmenu">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">FoodApp</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-repeat="item in topmenu.menu" ng-class="{ active: topmenu.isActive(item.url)}"><a href="#{{item.url}}" ng-bind="item.name"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="topmenu.auth.isLogged">
                <li ng-class="{ active: topmenu.isActive('/user')}" >
                    <a href="#/user" ng-bind="topmenu.auth.username">User</a>
                </li>
                <li><a href="" ng-click="topmenu.logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!topmenu.auth.isLogged">
                <li><a href="" ng-click="topmenu.showLogin()">Login</a></li>
                <li><a href="" ng-click="topmenu.showRegister()">Registration</a></li>
            </ul>
        </div>
    </nav>
	
    <div class="container" ng-view></div>
    
    <!-- Modal -->
    <login-form></login-form>    

    <script src="./scripts/jquery-1.10.2.js"></script>

    <script src="./scripts/angular.js"></script>
    <script src="./scripts/angular-mocks.js"></script>
    <script src="./scripts/angular-route.js"></script>
    <script src="./scripts/angular-resource.js"></script>
    <script src="./scripts/bootstrap.js"></script>

    <script src="./app/app.js"></script>
    <script src="./app/services/config.js"></script>
    <script src="./app/services/dateservice.js"></script>
    <script src="./app/services/authservice.js"></script>
    <script src="./app/controllers/topmenu.js"></script>
    
    
    <script src="./app/directives/loginform.js"></script>
    
    <script src="./app/admin.module.js"></script>
    <script src="./app/controllers/useradmin.js"></script>
    <script src="./app/controllers/choiceadmin.js"></script>
    
    <script src="./app/menu.module.js"></script>
    <script src="./app/controllers/viewmenu.js"></script>
    <script src="./app/controllers/editmenu.js"></script>
    
    <script src="./app/user.module.js"></script>
    <script src="./app/controllers/userchoice.js"></script>
    <script src="./app/controllers/userview.js"></script>
    
    <script src="./app/services/menuservice.js"></script>
    
    <script src="./app/userservice.module.js"></script>
    <script src="./app/services/userservice.js"></script>

    


</body>
</html>
