
@{
    Layout = "~/Views/Email/_Email.cshtml";
    ViewBag.Title = "Confirm Email"; ;
}
<h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 18px; line-height: 1.5em; color: #111111; font-weight: 200; margin: 20px 0 10px; padding: 0;">Email confirmed!</h1>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
    Thanks for the confirmation email.
</p>
