body {
     
}

/* bug in inline forms */
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.glyphicon {
    line-height: 0.9!important;
}

.panel-footer.price {
    background: #fff8dc;
}

.validation-summary-valid {
     display: none;
}

table.selectday {
    table-layout: fixed;
    word-wrap: break-word;
}
.flip-container .back,
.flip-container .front {
     padding-bottom: 10px;
     padding-top: 10px;
}

#content {
    position:relative;
    background:#fff;
    padding:10px 0 0 0;
}

.many-input-group .form-control {
      border-right-width: 0px;
}

.many-input-group .form-control:focus {
    border-right-width: 1px;
	padding-right:11px;
}

.input-group > .input-group-btn:empty {
    width: 0px;
}

.users {
      padding-top: 5px;
}

div.correct p {
     color: green;
}

div.incorrect p {
     color: red;
}

.flip-container div.front, .flip-container div.back.flip {
    display: block;
}

.flip-container div.front.flip, .flip-container div.back {
    display: none;
}

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}

.star-rating .star.average {
  color: #08a;
}

.star-rating.readonly .star.filled {
  color: #666;
}
