[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
     
}

.pagination.comments {
    margin: 0px 0px;
}

.spacer {
    margin-top: 5px; 
}
.table tbody>tr>td.v-align
{
    vertical-align: middle;
}

/* bug in inline forms */
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.btn-group {
  display: flex;
}

.glyphicon {
    line-height: 0.9!important;
}

.comments .glyphicon
{
    margin-right: 5px;
}

.list-group-item.usermenu {
    padding: 5px 5px;
}

.panel-footer.price {
    background: #fff8dc;
}

.validation-summary-valid {
     display: none;
}

table.selectday {
    table-layout: fixed;
    word-wrap: break-word;
}

#content {
    position:relative;
    background:#fff;
    padding:10px 0 0 0;
}

.many-input-group .form-control {
      border-right-width: 0px;
}

.many-input-group .form-control:focus {
    border-right-width: 1px;
	padding-right:11px;
}

.input-group > .input-group-btn:empty {
    width: 0px;
}

.flip-container .back, .flip-container .front {
     padding-bottom: 10px;
     padding-top: 10px;
}

.flip-container div.front, .flip-container div.back.flip {
    display: block;
}

.flip-container div.front.flip, .flip-container div.back {
    display: none;
}


.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}

.star-rating .star.average {
  color: #08a;
}

.star-rating.readonly .star.filled {
  color: #666;
}
