<appSettings>
  <add key="MAIL_SERVER" value="smtp.gmail.com"/>
  <add key="MAIL_PORT" value="587"/>
  <add key="MAIL_FROM" value="some.gmail.name@gmail.com"/>
  <add key="MAIL_PASSWORD" value="some.password"/>
  <add key="FACEBOOK_ID" value="some.id"/>
  <add key="FACEBOOK_SECRET" value="some.secret"/>
  <add key="GOOGLE_ID" value="some.id"/>
  <add key="GOOGLE_SECRET" value="some.secret"/>
</appSettings>